##
## EPITECH PROJECT, 2024
## Raytracer
## File description:
## .gitignore
##

# Ignore object files
obj/main.o
obj/Termination.o
obj/Core/Processor.o
obj/Core/Vector.o
obj/DynamicLibrary/DLLibrary.o
obj/Modules/ModuleInfo.o
obj/tests/DynamicLibrary/DLLibrary.o

# Ignore precomiled headers
obj/Termination.hpp.gch
obj/Core/Processor.hpp.gch
obj/Core/Vector.hpp.gch
obj/DynamicLibrary/DLLibrary.hpp.gch
obj/Modules/ModuleInfo.hpp.gch
obj/tests/DynamicLibrary/DLLibrary.hpp.gch

# Ignore dependency files
obj/main.d
obj/Termination.d
obj/Core/Processor.d
obj/Core/Vector.d
obj/DynamicLibrary/DLLibrary.d
obj/Modules/ModuleInfo.d
obj/tests/DynamicLibrary/DLLibrary.d

# Ignore binary files
raytracer
raytracer_tests

# Ignore logs and reports
*.gcda
*.gcno
vgcore.*

# Ignore coding-style logs
coding-style-reports.log

# Ignore temporary files
a.out
*tmp*
*~
\#*#
.#*

# Miscellanous
compile_commands.json
